{% extends 'owner/owner_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}

   <div class="hero-section set-bg" data-setbg="{% static 'img/contact-bg.jpg'%}" style="background-image: url(&quot;img/contact-bg.jpg&quot;);">
       <br>
            <br>
    <h1 align="center"><font color="white" >UPDATE TURF</font></h1>
    </div>
   <div class="col-lg-4 mx-auto order-lg-2 align-self-center">

                    <form action="" method="POST" class="contact-form" >
                        {% csrf_token %}

                        <div class="form-group row">
                        <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text" name="name" value="{{ p.name }}" placeholder="Turf Name" required="">
                            </div>
                            <div class="col-lg-12">
                                <input type="text" name="description" value="{{ p.descri }}" placeholder="description" required="">

                            </div>




                            <div class="col-lg-12">
                                <input type="text" name="location" value="{{ p.location }}" placeholder="location" required="">
                            </div>
                            <div class="col-lg-12">
                                <input type="Number" name="price" value="{{ p.price }}" placeholder="Price/Hours" required="">
                            </div>
{#                            <div class="col-lg-12">#}
{#                                <input type="file" name="image1" placeholder="image" title="Upload Turf Image.." required="">#}
{#                            </div>#}
{#                            <div class="col-lg-12">#}
{#                                <input type="file" name="image2" placeholder="image" title="Upload More Image.."  required="">#}
{#                            </div>#}
                            <div class="col-lg-12">
                                <input type="" name="fec" value="{{ p.facility }}" placeholder="Add Facilities..." required="">

                            </div>
                            <input type="hidden" value="{{ p.id }}" name="id">
                            <div class="col-lg-12">
                                <div align="center">
                            <input type="submit" name="update" class="submit-btn contact-btn" value="Update">
                            <p>
                    <a href="/owner"><u><font color="red">cancel</font></u></a>
                    </p>
                </div>

                        </div>
                    </div>
                    </div>
                </div>

            </form>


                </div>

{% endblock %}