{% extends 'user/user_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}

  <section class="blog-section spad">
        <div class="container-fluid">
            <div class="row">
                {% for st in s %}

                <div class="col-lg-3 col-md-6">

                    <div class="single-blog-item blog-item">

                        <div class="blog-img">
                            <img src="{{ st.image1.url }}" alt="">
                        </div>
                        <div class="blog-text">

                            <a href="TurfDetails?id={{ st.id }}"> <h3>{{ st.name }}</h3></a>
                            <p>
                                Location: {{ st.location }}<br>
                                Price/Hour: {{ st.price }}<br>
                                Other Facility: {{ st.facility }}<br>

                            </p>
{#                            <div class="blog-widget">#}
{#                                <ul>#}
{#                                    <li><img src="img/like.png" alt=""> <span>15 Likes</span></li>#}
{#                                    <li><img src="img/chat.png" alt=""> <span>3 Comments</span></li>#}
{#                                </ul>#}
{#                            </div>#}
                        </div>

                    </div>

                </div>

    {% endfor %}

            </div>

        </div>
  </section>


{% endblock %}